/*----HEADING STYLING----*/
*{
    padding: 0;
    margin: 0;
    font-size: 100%;
    line-height: 1em;
}

body {
    width: 70%;
    max-width: 620px;
    margin: auto; 
    background-color: #fafafa;
    color:#333;
}

h1, h2, h3 {
    
font-weight: normal;
text-align: left;
}

h1 {font-size: 2.827em;
    margin-top: 2em;
    margin-bottom: 0.1em;
    letter-spacing: 0.04em;
}

h2 {font-size: 1.999em;
margin: 1em 0 1em 0;}

h3 {font-size: 1.414em;
margin-bottom: 1.5em;
margin-top: 1.5em;
}

h4 {font-size: 1em;
margin-bottom: 1.5em;}

/*----BLOCKQUOTE STYLING----*/

blockquote {
    font-size: 1.414em;
    hanging-punctuation: first;
    text-indent: -0.42em;
    margin: 1em 0 1em 0;
}

cite {
    font-size: 0.9em;
}

/*------------- FOOTER -------------*/

footer {
    text-align: center;
    font-size: 0.717em;
    padding: 2em 0 4em 0;
}