 <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
    <meta name="author" content="Gemma Ferguson">
    <title> lits and tables</title>
    
    <link href="css/lists-tables-css.css" type="text/css" rel="stylesheet"/>
    
    <meta name="viewport" content="initial-scale=1.0,width=device-width">   

<table>
           
        <caption>Foundries that offer versions of Baskerville: </caption>
        
           <tr>
           <th>Hot Type</th>
           <th>Cold Type</th>
           <th>Digital Type</th>
           </tr>
           
        <tr>
        <td>Deberny & Peignot</td>
        <td>Autologic </td>
        <td>Linotype </td>
        </tr>
        
        <tr>
        <td>Fry Foundry </td>
        <td>Berthold </td>
        <td>URW++</td>
        </tr>
      
        <tr>
        <td>American Type Founders</td>
        <td>Compugraphic</td>
        <td>Monotype</td>
        </tr>
           
        <tr>
           <td>Linotype</td>
           <td>Hell AG</td>
            <td>Bitstream</td>
           </tr>
        
           <tr>
           <td>Lanston Monotype</td>
        <td>Monotype</td>
               <td> </td>
           </tr>
        
    </table>
    
    
          <h3>Foundries that offer versions of Baskerville: </h3>
  
        <p><b>Hot Type</b></p>
    <ul>
        <li>Deberny & Peignot</li>
        <li>Fry Foundry</li>
        <li>American Type Founders</li>
        <li>Linotype</li>
        <li>Lanston Monotype</li>
    </ul>
  
    <p><b>Cold Type</b></p>
    <ul>
        <li>Autologic </li>
        <li>Berthold </li>
        <li>Compugraphic</li>
        <li>Hell AG</li>
        <li>Monotype</li>
    </ul>
  
    <p><b>Digital Type</b></p>
    <ul>
    <li>Linotype </li>
        <li>URW++</li>
        <li>Monotype</li>
        <li>Bitstream</li>
    </ul>