<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8"/>
    <meta name="author" content="Gemma Ferguson">
    <title> NAV </title>
    
    <link href="css/nav-links-css.css" type="text/css" rel="stylesheet"/>
    
    <meta name="viewport" content="initial-scale=1.0,width=device-width">    

<nav>
        <ul>
        <li> <a href="#nav-1">
            Nav 1 </a></li>
        <li> <a href="#nav-2">
            Nav 2</a>
            </li>    
        <li><a href="#nav-3">
            Nav 3</a>
            </li>   
        </ul>
    </nav> 
    
<h1> NAVIGATION </h1>

<h3 id="nav-1">Nav 1</h3>
    
<h3 id="nav-2">Nav 2</h3>
    
<h3 id="nav-3">Nav 3</h3>
    

<ul class="connections">
    
     <li><a href="https://gemma-ferguson.tumblr.com/">
    <img src="images/tumblr.svg" alt="View my personal blog" /></a></li>
    
        
        
    <li><a href="mailto:ferguson-g18@ulster.ac.uk">
        <img src="images/email.svg" alt="Feel free to send me an email"/> </a> </li>
        
    </ul>
    
    <ul class="top-link">
         <li><a href=#top>
        <img src="images/top.svg" alt="Return to the top of the webpage"/> </a> </li> 
        </ul>