<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8"/>
    <meta name="author" content="Gemma Ferguson">
    <title> NAV </title>
    
    <link href="css/style.css" type="text/css" rel="stylesheet"/>
    
    <meta name="viewport" content="initial-scale=1.0,width=device-width">    

<nav>
        <ul>
        <li> <a href="#nav-1">
            Nav 1 </a></li>
        <li> <a href="#nav-2">
            Nav 2</a>
            </li>    
        <li><a href="#nav-3">
            Nav 3</a>
            </li>   
        </ul>
    </nav> 

<h3 id="nav-1">Nav 1</h3>
    
<h3 id="nav-2">Nav 2</h3>
    
<h3 id="nav-3">Nav 3</h3>