/*----LIST STYLING----*/
li {
    padding: 0.3em;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    text-indent: -3.20em;
    margin: 0.33em 0.5em 0.5em 1.5em;
}

/*-----TABLE STYLING----*/
table{
    margin: auto;
    display: table;
    border-collapse: collapse;
    border-spacing: 2px;
    margin-bottom: 2em;
    width: 100%;
}

caption{
    margin-bottom: 1.5em;
    text-transform: uppercase;
}

th{
    color:#fafafa;
    text-transform: uppercase;
    font-weight: normal;
    text-align: left;
    background: #47607F;
}

th, td{
    padding: 0.6em;
}

table, td{
    background: #DAEAFF;
    border: 1px solid #fafafa;
}